body {
    background-color: #D3D3D3;
}
h1 {
    color: lightyellow;
    font-family: sans-serif;
    font-size: large;
}
p {
    color: yellow;
    font-family: Arial;
    font-size: small;
    border-style: dashed;
    border-color: palegoldenrod;
    border-width: 2px;
}
a {
    color: green;
}
a:hover {
    color: purple;
}
.bigfont {
    font-size: xx-large;
}